.img-card{
    position: relative;
    overflow: hidden; 
  }

  .img-card img {
    transition: transform 0.1s ease, filter 0.3s ease; 
  }

  .img-card:hover img {
    transform: scale(1.1); 
  }


.button_division button{
  background-color: red;
  color: white;
}

.iconTag{
  margin-left: 20px;
}

.iconTag .coni{
    color: red;
    text-size-adjust: 50px;
}


.heading .heading-text{
   padding: 100px;
   font-weight: bolder;
   font-size: 35px;
}


.button-Decoration{
  color: white;
  font-weight: bolder;
  background-color: red;
  padding:  10px 20px;
  margin: 20px;
  border-radius: 10px;
  border: none;
}